## Advanced Dataframes

In this lesson we will continue working with pandas dataframes, and explore some more complex dataframe manipulations.

In [2]:
%matplotlib inline
import pandas as pd
import numpy as np

np.random.seed(123)

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# randomly generate scores for each student for each subject
# note that all the values need to have the same length here
math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

df = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades,
                   'classroom': np.random.choice(['A', 'B'], len(students))})

### Creating Dataframes

#### From Lists and Dictionaries

There are several ways to create dataframes, we've already seen how we can create a dataframe from a dictionary:

In [3]:
pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

   A  B
0  1  4
1  2  5
2  3  6

The keys in the passed dictionary will be the column names, and the values are the data points that make up each column.

We can also create dataframes from a 2d data structure, either a numpy array or a list of lists:

In [4]:
pd.DataFrame([[1, 2, 3], [4, 5, 6]])

   0  1  2
0  1  2  3
1  4  5  6

In [23]:
data = np.array([[1, 2, 3], [4, 5, 6]])

pd.DataFrame(data, columns=['a', 'b', 'c'])

   a  b  c
0  1  2  3
1  4  5  6

Notice here that we had to specify the names of the columns ourselves.

### Importing and manipulating csv file

In [26]:
df = pd.read_csv("school_census_data_18.csv")

In [30]:
def df_peek(dataframe, use_name='sample'):
    sample_size=min(11,len(dataframe))
    print(f'{use_name.upper()} DATA')
    if sample_size == 11:
        print(dataframe.sample(10))
    else:
        print(dataframe)
    print()
    print(f'{use_name} details{str(dataframe.shape)}')
    print(dataframe.dtypes)

In [31]:
df_peek(df)

SAMPLE DATA
   Country Region  DataYear  ClassGrade  Gender  Ageyears        Handed  \
30     USA     PA      2018          12  Female      17.0  Ambidextrous
72     USA     PA      2018          12  Female      17.0  Right-Handed
93     USA     PA      2018          12    Male      17.0  Right-Handed
40     USA     WI      2018          12    Male      17.0  Right-Handed
22     USA     PA      2018          12  Female      17.0  Right-Handed
12     USA     TX      2018          12  Female      17.0  Right-Handed
85     USA     TX      2018          12    Male      17.0  Right-Handed
74     USA     PA      2018          12    Male      17.0  Right-Handed
24     USA     CA      2018          12    Male      17.0  Right-Handed
42     USA     AZ      2018          12    Male      17.0  Right-Handed

   Height_cm Footlength_cm Armspan_cm  ...  Watching_TV_Hours Paid_Work_Hours  \
30       173            24        173  ...                1.0            12.0
72       170            25        174  ...                6.0            30.0
93       178            29        178  ...                NaN             NaN
40       174            29        188  ...                8.0             0.0
22       159            24        165  ...               10.0            30.0
12       165            26        173  ...                3.0             0.0
85       175            25        170  ...                0.0            40.0
74       198          25.5        182  ...               12.0             9.0
24       137            25         65  ...               40.0            16.0
42       178            25         69  ...                0.0            33.0

   Work_At_Home_Hours  Schoolwork_Pressure  Planned_Education_Level  \
30                7.0                A lot     Undergraduate degree
72                4.0                 Some          Graduate degree
93                NaN                  NaN                      NaN
40               10.0                 Some          Graduate degree
22                5.0                A lot          Graduate degree
12                1.0                A lot          Graduate degree
85                0.0          Very little          Graduate degree
74                2.0                 Some          Graduate degree
24               20.0                 Some              High school
42                5.0                 Some    Less than high school

       Favorite_Music      Superpower  Preferred_Status     Role_Model_Type  \
30          Classical       Telepathy             Happy              Friend
72        Rap/Hip hop     Freeze time             Happy            Relative
93                NaN             NaN               NaN                 NaN
40                NaN       Telepathy             Happy               Other
22  Techno/Electronic             Fly             Happy     Doctor or nurse
12        Rap/Hip hop       Telepathy           Healthy  Musician or singer
85        Rap/Hip hop  Super strength             Happy               Other
74                Pop       Telepathy              Rich  Musician or singer
24        Rap/Hip hop  Super strength             Happy       Sports person
42          Punk rock    Invisibility             Happy     Business person

               Charity_Donation
30            International aid
72                       Health
93                          NaN
40  Education/Youth development
22            Wildlife, animals
12            Wildlife, animals
85                       Health
74                        Other
24            Wildlife, animals
42            Wildlife, animals

[10 rows x 60 columns]

sample details(100, 60)
Country                              object
Region                               object
DataYear                              int64
ClassGrade                            int64
Gender                               object
Ageyears                            float64
Handed                               object
Height_cm                            object
Footlength_cm                        object
Armspan_cm                           object
Languages_spoken                    float64
Travel_to_School                     object
Travel_time_to_School                object
Reaction_time                       float64
Score_in_memory_game                float64
Favourite_physical_activity          object
Importance_reducing_pollution       float64
Importance_recycling_rubbish        float64
Importance_conserving_water         float64
Importance_saving_energy            float64
Importance_owning_computer          float64
Importance_Internet_access          float64
Left_Footlength_cm                  float64
Longer_foot                          object
Index_Fingerlength_mm               float64
Ring_Fingerlength_mm                float64
Longer_Finger_Lefthand               object
Birth_month                          object
Favorite_Season                      object
Allergies                            object
Vegetarian                           object
Favorite_Food                        object
Beverage                             object
Favorite_School_Subject              object
Sleep_Hours_Schoolnight             float64
Sleep_Hours_Non_Schoolnight         float64
Home_Occupants                      float64
Home_Internet_Access                 object
Communication_With_Friends           object
Text_Messages_Sent_Yesterday        float64
Text_Messages_Received_Yesterday    float64
Hanging_Out_With_Friends_Hours      float64
Talking_On_Phone_Hours              float64
Doing_Homework_Hours                float64
Doing_Things_With_Family_Hours      float64
Outdoor_Activities_Hours            float64
Video_Games_Hours                   float64
Social_Websites_Hours               float64
Texting_Messaging_Hours             float64
Computer_Use_Hours                  float64
Watching_TV_Hours                   float64
Paid_Work_Hours                     float64
Work_At_Home_Hours                  float64
Schoolwork_Pressure                  object
Planned_Education_Level              object
Favorite_Music                       object
Superpower                           object
Preferred_Status                     object
Role_Model_Type                      object
Charity_Donation                     object
dtype: object

In [7]:
df.head()

,Country,Region,DataYear,ClassGrade,Gender,Ageyears,Handed,Height_cm,Footlength_cm,Armspan_cm,...,Watching_TV_Hours,Paid_Work_Hours,Work_At_Home_Hours,Schoolwork_Pressure,Planned_Education_Level,Favorite_Music,Superpower,Preferred_Status,Role_Model_Type,Charity_Donation
0,USA,TX,2018,12,Female,17.0,Right-Handed,152,22.5,24,...,0.0,35.0,1.0,Very little,Graduate degree,Rap/Hip hop,Invisibility,Happy,Business person,Environment
1,USA,TN,2018,12,Male,18.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USA,CO,2018,12,Female,17.0,Ambidextrous,164cm,22cm,160cm,...,6.0,2.0,2.0,Some,Graduate degree,Rap/Hip hop,Invisibility,Happy,Friend,International aid
3,USA,ID,2018,12,Male,23.0,Right-Handed,171.5,21.6,162.5,...,2.0,0.0,8.0,A lot,Graduate degree,Gospel,Freeze time,Happy,Relative,Religious
4,USA,NC,2018,12,Female,17.0,Right-Handed,136,26,54,...,0.0,2.0,2.0,A lot,Undergraduate degree,Rap/Hip hop,Freeze time,Happy,Relative,International aid

In [17]:
df[["Handed","Gender"]][df.Handed == "Left-Handed"].sort_values(by="Gender")

         Handed  Gender
20  Left-Handed  Female
69  Left-Handed  Female
73  Left-Handed  Female
98  Left-Handed  Female
9   Left-Handed    Male
13  Left-Handed    Male
23  Left-Handed    Male
34  Left-Handed    Male
54  Left-Handed    Male
79  Left-Handed    Male
89  Left-Handed    Male
99  Left-Handed    Male

### From Text Files

The most commonly used function to data from an external text file is read_csv. Two other commonly used functions are read_table, for less structured files that are still tabular, and read_json, for data stored as JSON.

There are many other read_ functions, but read_csv will be the most commonly used one.

See the documentation for the individual functions for customizing how the data is read into a dataframe.

### From SQL

We can use the read_sql method to create a dataframe based on the results of a SQL query. To do this, we need to tell pandas how to connect to the database we are querying. The way we communicate this to pandas is with a specially formatted connection string.

In addition, whenever we want to connect to a database from our python code (other programming languages are similar), we will need a driver, a bit of software that handles the details of the database connection.

In order to connect to mysql, we'll install the mysqlclient and pymysql driver packages: python -m pip install mysqlclient pymysql Once those are installed, we can create the connection string. In general, database connection urls will have this format:

In [19]:
# protocol://[user[:password]@]hostname/[database_name]

Here's an example of what one would look like:

In [21]:
#mysql+pymysql://codeup:p@assw0rd@123.123.123.123/some_db

Another thing we need to consider is that we don't want to publish our database credentials to github, however, we will need access to these values in our code in order to create the connection string defined above.

In order to accomplish this, we can define several variables in a file named env.py that contain the sensitive data, add env.py to our .gitignore file, and then import those values into another script.

In [22]:
# from env import host, user, password

# url = f'mysql+pymysql://{user}:{password}@{host}/employees'

Once this url is defined, we can use it with the read_sql function to have pandas treat the results of a SQL query as a dataframe.

In [25]:
# pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url)

In [ ]:
# .iloc      subset rows or columns using a numerical index
mpg.iloc[0]

# .iloc's slice range is exclusive of the end
mpg.iloc[0:4]

# .loc      obtain values by a named index
# [rows, columns]
df.loc[:, "model":"trans"]   (returns a df with the range of model through trans)

In [ ]:
# takes in a function and returns a dataframe
# can be used to create a function pipeline to transform our data
# .apply() works on a series and .pipe() works on a dataframe
df.pipe()

def calculate_avg_grade(df):
    avg = (df.math + df.english + df.reading) / 3
    return df.assign(average_grade=avg)

df.pipe(calculate_avg_grade)