In [2]:
import pandas as pd
import numpy as np
from pydataset import data
from scipy import stats

In [2]:
Mammals = data("Mammals")
data("Mammals", show_doc=True)

Mammals

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Garland(1983) Data on Running Speed of Mammals

### Description

Observations on the maximal running speed of mammal species and their body
mass.

### Usage

    data(Mammals)

### Format

A data frame with 107 observations on the following 4 variables.

weight

Body mass in Kg for "typical adult sizes"

speed

Maximal running speed (fastest sprint velocity on record)

hoppers

logical variable indicating animals that ambulate by hopping, e.g. kangaroos

specials

logical variable indicating special animals with "lifestyles in which speed
does not figure as an important factor": Hippopotamus, raccoon (Procyon),
badger (Meles), coati (Nasua), skunk (Mephitis), man (Homo), porcupine
(Erithizon), oppossum (didelphis), and sloth (Bradypus)

### Details

Used by Chappell (1989) and Koenker, Ng and Portnoy (1994) to illustrate the
fitting of piecewise linear curves.

### Source

Garland, T. (1983) The relation between maximal running speed and body mass in
terrestrial mammals, _J. Zoology_, 199, 1557-1570.

### References

Koenker, R., P. Ng and S. Portnoy, (1994) Quantile Smoothing Splines‚Äù
_Biometrika_, 81, 673-680.

Chappell, R. (1989) Fitting Bent Lines to Data, with Applications ot
Allometry, _J. Theo. Biology_, 138, 235-256.

### See Also

`rqss`

### Examples

    data(Mammals)
    attach(Mammals)
    x <- log(weight)
    y <- log(speed)
    plot(x,y, xlab="Weight in log(Kg)", ylab="Speed in log(Km/hour)",type="n")
    points(x[hoppers],y[hoppers],pch = "h", col="red")
    points(x[specials],y[specials],pch = "s", col="blue")
    others <- (!hoppers & !specials)
    points(x[others],y[others], col="black",cex = .75)
    fit <- rqss(y ~ qss(x, lambda = 1),tau = .9)
    plot(fit)

In [3]:
Mammals.columns

Index(['weight', 'speed', 'hoppers', 'specials'], dtype='object')

In [7]:
Mammals.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
             98,  99, 100, 101, 102, 103, 104, 105, 106, 107],
           dtype='int64', length=107)

In [14]:
hoppers_above_med_sp = (Mammals.speed > Mammals.speed.median()) & (Mammals.hoppers == True)
Mammals[hoppers_above_med_sp]

     weight  speed  hoppers  specials
96      4.6   64.0     True     False
97      4.4   72.0     True     False
98      4.0   72.0     True     False
99      3.5   56.0     True     False
100     2.0   64.0     True     False
101     1.9   56.0     True     False
102     1.5   50.0     True     False

In [9]:
Mammals["speed"].median()

48.0

In [15]:
# employees[employees.hire_dat.str.contains("12-25")]

# mpg[mpg.hwy > 35]["hwy", "model"]
# SELECT hwy, model
# FROM mpg
# WHERE hwy > 35

# mpg[["hwy", "model"]]     double brackets give you back a dataframe containing only columns specififed

# mpg.hwy
# mpg["hwy"]

# Imagine the above in sQL
# SELECT * FROM mpg
# WHERE hwy > 35

In [16]:
students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

In [17]:
example = pd.DataFrame({"fruits": ["kiwi"]})

In [18]:
example

  fruits
0   kiwi

In [19]:
example["banana"] = 2

In [20]:
example

  fruits  banana
0   kiwi       2

In [12]:
titanic = data("titanic")
titanic.shape

(1316, 4)

In [13]:
titanic.head()

       class     age  sex survived
1  1st class  adults  man      yes
2  1st class  adults  man      yes
3  1st class  adults  man      yes
4  1st class  adults  man      yes
5  1st class  adults  man      yes

In [33]:
survivors = titanic[titanic["survived"] == "yes"].groupby("class").count().survived

In [34]:
lost = titanic[titanic["survived"] == "no"].groupby("class").count().survived

In [36]:
survivors > lost

class
1st class     True
2nd class    False
3rd class    False
Name: survived, dtype: bool

In [49]:
total_survival_avg = (titanic["survived"] == "yes").mean()
total_survival_avg

0.3791793313069909

In [59]:
titanic["survival_1st_class_avg"] = ((titanic["survived"] == "yes") & (titanic["class"]== "1st class")).mean()
survival_1st_class_avg

0.15425531914893617

In [61]:
titanic["survival_2nd_class_avg"] = ((titanic["survived"] == "yes") & (titanic["class"]== "2nd class")).mean()
survival_2nd_class_avg

0.08966565349544073

In [60]:
titanic["survival_3rd_class_avg"] = ((titanic["survived"] == "yes") & (titanic["class"]== "3rd class")).mean()
survival_3rd_class_avg

0.135258358662614

In [62]:
titanic

,class,age,sex,survived,survival_1st_class_avg,survival_3rd_class_avg,survival_2nd_class_avg
1,1st class,adults,man,yes,0.154255,0.135258,0.089666
2,1st class,adults,man,yes,0.154255,0.135258,0.089666
3,1st class,adults,man,yes,0.154255,0.135258,0.089666
4,1st class,adults,man,yes,0.154255,0.135258,0.089666
5,1st class,adults,man,yes,0.154255,0.135258,0.089666
6,1st class,adults,man,yes,0.154255,0.135258,0.089666
7,1st class,adults,man,yes,0.154255,0.135258,0.089666
8,1st class,adults,man,yes,0.154255,0.135258,0.089666
9,1st class,adults,man,yes,0.154255,0.135258,0.089666
10,1st class,adults,man,yes,0.154255,0.135258,0.089666
11,1st class,adults,man,yes,0.154255,0.135258,0.089666
12,1st class,adults,man,yes,0.154255,0.135258,0.089666
13,1st class,adults,man,yes,0.154255,0.135258,0.089666
14,1st class,adults,man,yes,0.154255,0.135258,0.089666
15,1st class,adults,man,yes,0.154255,0.135258,0.089666
16,1st class,adults,man,yes,0.154255,0.135258,0.089666
17,1st class,adults,man,yes,0.154255,0.135258,0.089666
18,1st class,adults,man,yes,0.154255,0.135258,0.089666
19,1st class,adults,man,yes,0.154255,0.135258,0.089666
20,1st class,adults,man,yes,0.154255,0.135258,0.089666
21,1st class,adults,man,yes,0.154255,0.135258,0.089666
22,1st class,adults,man,yes,0.154255,0.135258,0.089666
23,1st class,adults,man,yes,0.154255,0.135258,0.089666
24,1st class,adults,man,yes,0.154255,0.135258,0.089666
25,1st class,adults,man,yes,0.154255,0.135258,0.089666
26,1st class,adults,man,yes,0.154255,0.135258,0.089666
27,1st class,adults,man,yes,0.154255,0.135258,0.089666
28,1st class,adults,man,yes,0.154255,0.135258,0.089666
29,1st class,adults,man,yes,0.154255,0.135258,0.089666
30,1st class,adults,man,yes,0.154255,0.135258,0.089666
31,1st class,adults,man,yes,0.154255,0.135258,0.089666
32,1st class,adults,man,yes,0.154255,0.135258,0.089666
33,1st class,adults,man,yes,0.154255,0.135258,0.089666
34,1st class,adults,man,yes,0.154255,0.135258,0.089666
35,1st class,adults,man,yes,0.154255,0.135258,0.089666
36,1st class,adults,man,yes,0.154255,0.135258,0.089666
37,1st class,adults,man,yes,0.154255,0.135258,0.089666
38,1st class,adults,man,yes,0.154255,0.135258,0.089666
39,1st class,adults,man,yes,0.154255,0.135258,0.089666
40,1st class,adults,man,yes,0.154255,0.135258,0.089666
41,1st class,adults,man,yes,0.154255,0.135258,0.089666
42,1st class,adults,man,yes,0.154255,0.135258,0.089666
43,1st class,adults,man,yes,0.154255,0.135258,0.089666
44,1st class,adults,man,yes,0.154255,0.135258,0.089666
45,1st class,adults,man,yes,0.154255,0.135258,0.089666
46,1st class,adults,man,yes,0.154255,0.135258,0.089666
47,1st class,adults,man,yes,0.154255,0.135258,0.089666
48,1st class,adults,man,yes,0.154255,0.135258,0.089666
49,1st class,adults,man,yes,0.154255,0.135258,0.089666
50,1st class,adults,man,yes,0.154255,0.135258,0.089666
51,1st class,adults,man,yes,0.154255,0.135258,0.089666
52,1st class,adults,man,yes,0.154255,0.135258,0.089666
53,1st class,adults,man,yes,0.154255,0.135258,0.089666
54,1st class,adults,man,yes,0.154255,0.135258,0.089666
55,1st class,adults,man,yes,0.154255,0.135258,0.089666
56,1st class,adults,man,yes,0.154255,0.135258,0.089666
57,1st class,adults,man,yes,0.154255,0.135258,0.089666
58,1st class,adults,man,no,0.154255,0.135258,0.089666
59,1st class,adults,man,no,0.154255,0.135258,0.089666
60,1st class,adults,man,no,0.154255,0.135258,0.089666
61,1st class,adults,man,no,0.154255,0.135258,0.089666
62,1st class,adults,man,no,0.154255,0.135258,0.089666
63,1st class,adults,man,no,0.154255,0.135258,0.089666
64,1st class,adults,man,no,0.154255,0.135258,0.089666
65,1st class,adults,man,no,0.154255,0.135258,0.089666
66,1st class,adults,man,no,0.154255,0.135258,0.089666
67,1st class,adults,man,no,0.154255,0.135258,0.089666
68,1st class,adults,man,no,0.154255,0.135258,0.089666
69,1st class,adults,man,no,0.154255,0.135258,0.089666
70,1st class,adults,man,no,0.154255,0.135258,0.089666
71,1st class,adults,man,no,0.154255,0.135258,0.089666
72,1st class,adults,man,no,0.154255,0.135258,0.089666
73,1st class,adults,man,no,0.154255,0.135258,0.089666
74,1st class,adults,man,no,0.154255,0.135258,0.089666
75,1st class,adults,man,no,0.154255,0.135258,0.089666
76,1st class,adults,man,no,0.154255,0.135258,0.089666
77,1st class,adults,man,no,0.154255,0.135258,0.089666
78,1st class,adults,man,no,0.154255,0.135258,0.089666
79,1st class,adults,man,no,0.154255,0.135258,0.089666
80,1st class,adults,man,no,0.154255,0.135258,0.089666
81,1st class,adults,man,no,0.154255,0.135258,0.089666
82,1st class,adults,man,no,0.154255,0.135258,0.089666
83,1st class,adults,man,no,0.154255,0.135258,0.089666
84,1st class,adults,man,no,0.154255,0.135258,0.089666
85,1st class,adults,man,no,0.154255,0.135258,0.089666
...,...,...,...,...,...,...,...
1232,3rd class,adults,women,no,0.154255,0.135258,0.089666
1233,3rd class,adults,women,no,0.154255,0.135258,0.089666
1234,3rd class,adults,women,no,0.154255,0.135258,0.089666
1235,3rd class,adults,women,no,0.154255,0.135258,0.089666
1236,3rd class,adults,women,no,0.154255,0.135258,0.089666
1237,3rd class,adults,women,no,0.154255,0.135258,0.089666
1238,3rd class,child,man,yes,0.154255,0.135258,0.089666
1239,3rd class,child,man,yes,0.154255,0.135258,0.089666
1240,3rd class,child,man,yes,0.154255,0.135258,0.089666
1241,3rd class,child,man,yes,0.154255,0.135258,0.089666
1242,3rd class,child,man,yes,0.154255,0.135258,0.089666
1243,3rd class,child,man,yes,0.154255,0.135258,0.089666
1244,3rd class,child,man,yes,0.154255,0.135258,0.089666
1245,3rd class,child,man,yes,0.154255,0.135258,0.089666
1246,3rd class,child,man,yes,0.154255,0.135258,0.089666
1247,3rd class,child,man,yes,0.154255,0.135258,0.089666
1248,3rd class,child,man,yes,0.154255,0.135258,0.089666
1249,3rd class,child,man,yes,0.154255,0.135258,0.089666
1250,3rd class,child,man,yes,0.154255,0.135258,0.089666
1251,3rd class,child,man,no,0.154255,0.135258,0.089666
1252,3rd class,child,man,no,0.154255,0.135258,0.089666
1253,3rd class,child,man,no,0.154255,0.135258,0.089666
1254,3rd class,child,man,no,0.154255,0.135258,0.089666
1255,3rd class,child,man,no,0.154255,0.135258,0.089666
1256,3rd class,child,man,no,0.154255,0.135258,0.089666
1257,3rd class,child,man,no,0.154255,0.135258,0.089666
1258,3rd class,child,man,no,0.154255,0.135258,0.089666
1259,3rd class,child,man,no,0.154255,0.135258,0.089666
1260,3rd class,child,man,no,0.154255,0.135258,0.089666
1261,3rd class,child,man,no,0.154255,0.135258,0.089666
1262,3rd class,child,man,no,0.154255,0.135258,0.089666
1263,3rd class,child,man,no,0.154255,0.135258,0.089666
1264,3rd class,child,man,no,0.154255,0.135258,0.089666
1265,3rd class,child,man,no,0.154255,0.135258,0.089666
1266,3rd class,child,man,no,0.154255,0.135258,0.089666
1267,3rd class,child,man,no,0.154255,0.135258,0.089666
1268,3rd class,child,man,no,0.154255,0.135258,0.089666
1269,3rd class,child,man,no,0.154255,0.135258,0.089666
1270,3rd class,child,man,no,0.154255,0.135258,0.089666
1271,3rd class,child,man,no,0.154255,0.135258,0.089666
1272,3rd class,child,man,no,0.154255,0.135258,0.089666
1273,3rd class,child,man,no,0.154255,0.135258,0.089666
1274,3rd class,child,man,no,0.154255,0.135258,0.089666
1275,3rd class,child,man,no,0.154255,0.135258,0.089666
1276,3rd class,child,man,no,0.154255,0.135258,0.089666
1277,3rd class,child,man,no,0.154255,0.135258,0.089666
1278,3rd class,child,man,no,0.154255,0.135258,0.089666
1279,3rd class,child,man,no,0.154255,0.135258,0.089666
1280,3rd class,child,man,no,0.154255,0.135258,0.089666
1281,3rd class,child,man,no,0.154255,0.135258,0.089666
1282,3rd class,child,man,no,0.154255,0.135258,0.089666
1283,3rd class,child,man,no,0.154255,0.135258,0.089666
1284,3rd class,child,man,no,0.154255,0.135258,0.089666
1285,3rd class,child,man,no,0.154255,0.135258,0.089666
1286,3rd class,child,women,yes,0.154255,0.135258,0.089666
1287,3rd class,child,women,yes,0.154255,0.135258,0.089666
1288,3rd class,child,women,yes,0.154255,0.135258,0.089666
1289,3rd class,child,women,yes,0.154255,0.135258,0.089666
1290,3rd class,child,women,yes,0.154255,0.135258,0.089666
1291,3rd class,child,women,yes,0.154255,0.135258,0.089666
1292,3rd class,child,women,yes,0.154255,0.135258,0.089666
1293,3rd class,child,women,yes,0.154255,0.135258,0.089666
1294,3rd class,child,women,yes,0.154255,0.135258,0.089666
1295,3rd class,child,women,yes,0.154255,0.135258,0.089666
1296,3rd class,child,women,yes,0.154255,0.135258,0.089666
1297,3rd class,child,women,yes,0.154255,0.135258,0.089666
1298,3rd class,child,women,yes,0.154255,0.135258,0.089666
1299,3rd class,child,women,yes,0.154255,0.135258,0.089666
1300,3rd class,child,women,no,0.154255,0.135258,0.089666
1301,3rd class,child,women,no,0.154255,0.135258,0.089666
1302,3rd class,child,women,no,0.154255,0.135258,0.089666
1303,3rd class,child,women,no,0.154255,0.135258,0.089666
1304,3rd class,child,women,no,0.154255,0.135258,0.089666
1305,3rd class,child,women,no,0.154255,0.135258,0.089666
1306,3rd class,child,women,no,0.154255,0.135258,0.089666
1307,3rd class,child,women,no,0.154255,0.135258,0.089666
1308,3rd class,child,women,no,0.154255,0.135258,0.089666
1309,3rd class,child,women,no,0.154255,0.135258,0.089666
1310,3rd class,child,women,no,0.154255,0.135258,0.089666
1311,3rd class,child,women,no,0.154255,0.135258,0.089666
1312,3rd class,child,women,no,0.154255,0.135258,0.089666
1313,3rd class,child,women,no,0.154255,0.135258,0.089666
1314,3rd class,child,women,no,0.154255,0.135258,0.089666
1315,3rd class,child,women,no,0.154255,0.135258,0.089666
1316,3rd class,child,women,no,0.154255,0.135258,0.089666