In [1]:
import pandas as pd
import numpy as np
from pydataset import data

In [2]:
Mammals = data("Mammals")
data("Mammals", show_doc=True)

Mammals

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Garland(1983) Data on Running Speed of Mammals

### Description

Observations on the maximal running speed of mammal species and their body
mass.

### Usage

    data(Mammals)

### Format

A data frame with 107 observations on the following 4 variables.

weight

Body mass in Kg for "typical adult sizes"

speed

Maximal running speed (fastest sprint velocity on record)

hoppers

logical variable indicating animals that ambulate by hopping, e.g. kangaroos

specials

logical variable indicating special animals with "lifestyles in which speed
does not figure as an important factor": Hippopotamus, raccoon (Procyon),
badger (Meles), coati (Nasua), skunk (Mephitis), man (Homo), porcupine
(Erithizon), oppossum (didelphis), and sloth (Bradypus)

### Details

Used by Chappell (1989) and Koenker, Ng and Portnoy (1994) to illustrate the
fitting of piecewise linear curves.

### Source

Garland, T. (1983) The relation between maximal running speed and body mass in
terrestrial mammals, _J. Zoology_, 199, 1557-1570.

### References

Koenker, R., P. Ng and S. Portnoy, (1994) Quantile Smoothing Splines‚Äù
_Biometrika_, 81, 673-680.

Chappell, R. (1989) Fitting Bent Lines to Data, with Applications ot
Allometry, _J. Theo. Biology_, 138, 235-256.

### See Also

`rqss`

### Examples

    data(Mammals)
    attach(Mammals)
    x <- log(weight)
    y <- log(speed)
    plot(x,y, xlab="Weight in log(Kg)", ylab="Speed in log(Km/hour)",type="n")
    points(x[hoppers],y[hoppers],pch = "h", col="red")
    points(x[specials],y[specials],pch = "s", col="blue")
    others <- (!hoppers & !specials)
    points(x[others],y[others], col="black",cex = .75)
    fit <- rqss(y ~ qss(x, lambda = 1),tau = .9)
    plot(fit)

In [3]:
Mammals.columns

Index(['weight', 'speed', 'hoppers', 'specials'], dtype='object')

In [7]:
Mammals.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
             98,  99, 100, 101, 102, 103, 104, 105, 106, 107],
           dtype='int64', length=107)

In [14]:
hoppers_above_med_sp = (Mammals.speed > Mammals.speed.median()) & (Mammals.hoppers == True)
Mammals[hoppers_above_med_sp]

     weight  speed  hoppers  specials
96      4.6   64.0     True     False
97      4.4   72.0     True     False
98      4.0   72.0     True     False
99      3.5   56.0     True     False
100     2.0   64.0     True     False
101     1.9   56.0     True     False
102     1.5   50.0     True     False

In [9]:
Mammals["speed"].median()

48.0

In [15]:
# employees[employees.hire_dat.str.contains("12-25")]

# mpg[mpg.hwy > 35]["hwy", "model"]
# SELECT hwy, model
# FROM mpg
# WHERE hwy > 35

# mpg[["hwy", "model"]]     double brackets give you back a dataframe containing only columns specififed

# mpg.hwy
# mpg["hwy"]

# Imagine the above in sQL
# SELECT * FROM mpg
# WHERE hwy > 35

In [16]:
students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

In [17]:
example = pd.DataFrame({"fruits": ["kiwi"]})

In [18]:
example

  fruits
0   kiwi

In [19]:
example["banana"] = 2

In [20]:
example

  fruits  banana
0   kiwi       2