In [4]:
import pandas as pd

In [5]:
!jt -t chesterish

EASY

Take the word EASY: Its first three letters — E, A and S — are the fifth, first, and nineteenth letters, respectively, in the alphabet. If you add 5, 1, and 19, you get 25, which is the value of the alphabetical position of Y, the last letter of EASY.

Can you think of a common five-letter word that works in the opposite way — in which the value of the alphabetical positions of its last four letters add up to the value of the alphabetical position of its first letter?

In [32]:
with open('/usr/share/dict/words') as f:
    words = f.read().split('\n')

Plan:

find the 5 letter words

write a function that calculates the alphabetial position of a letter

Loop through the 5 letter words:
    
    
    check if the sum of the last 4 == the first letter

In [43]:
five_letter_words = [w for w in words if len(w) == 5]

def alphabetical_position(c):
    return 'abcdefghijklmnopqrstuvwxyz'.index(c.lower()) + 1

def alphabetical_value(letters):
    return sum([alphabetical_position(c) for c in letters])

alphabetical_position('a')

1

In [44]:
for word in five_letter_words:
    # first_letter, *last_four_letters = word
    first_letter = word[0]
    last_four_letters = word[1:]
    if alphabetical_value(first_letter) == alphabetical_value(last_four_letters):
        print(word)

raffe
Sadie
sifac
table
Uchee
vakia
Vicia
wanga
whack
Xicak
yeara
zebra

With Pandas

In [45]:
import pandas as pd

df = pd.DataFrame({'word': words})
df.head()

    word
0      A
1      a
2     aa
3    aal
4  aalii

In [48]:
# Create boolean mask
mask = df.word.apply(len) == 5

# just the 5 letter words
df = df[mask]
df.head()

     word
4   aalii
9   Aaron
20  abaca
27  aback
35  abaff

In [50]:
# create new columns in df
df['first_letter'] = df.word.str[0]
df['last_four'] = df.word.str[1:]
df.head()

     word first_letter last_four
4   aalii            a      alii
9   Aaron            A      aron
20  abaca            a      baca
27  aback            a      back
35  abaff            a      baff

In [52]:
df['first_letter_val'] = df.first_letter.apply(alphabetical_position)
df['last_4_val'] = df.last_four.apply(alphabetical_value)
df.head()

     word first_letter last_four  first_letter_val  last_4_val
4   aalii            a      alii                 1          31
9   Aaron            A      aron                 1          48
20  abaca            a      baca                 1           7
27  aback            a      back                 1          17
35  abaff            a      baff                 1          15

In [53]:
# The answer... 
df[df.first_letter_val == df.last_4_val].word

162735    raffe
172406    Sadie
181168    sifac
197206    table
210149    Uchee
226709    vakia
228545    Vicia
230352    wanga
231506    whack
234120    Xicak
234512    yeara
235088    zebra
Name: word, dtype: object

In [30]:
alpha = list("abcdefghijklmnopqrstuvwxyz")
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          21, 22, 23, 24, 25, 26]
alpha_num = pd.Series(num, index=alpha)
alpha_num

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
k    11
l    12
m    13
n    14
o    15
p    16
q    17
r    18
s    19
t    20
u    21
v    22
w    23
x    24
y    25
z    26
dtype: int64